<div class="d-flex align-items-start justify-content-center" >
  <strong><%= message.user.user_name %>:</strong>
  <p class="badge bg-success text-wrap m-2 text-white">
   <i class="m-0"><%= message.created_at.strftime("%H:%M") %></i>
   <% if message.alive? %>
     <% if message.image.attached? %>
       <image class="img-thumbnail" src="<%=(url_for(message.image)) %>">
     <% end %>
     <%= message.content %>
     <%= button_to 'Remove', message_path(message,
     message: { status: false }),
     method: :patch,
     remote: true,
     data: { confirm: "Are you sure?" },
     class: 'btn btn-danger btn-sm m-1' %>

     <%= button_to 'Update', message_path(message),
     method: :get,
     remote: true,
     class: 'btn btn-secondary btn-sm m-1' %>
   <% else %>
     <%= "This message was removed" %>
    <% end %>
   </p>
  </div>
